.App {
  text-align: center;
}
.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  padding: 50px 20px;
}
.col{
  width: 50%;
}
/* .css-wb57ya-MuiFormControl-root-MuiTextField-root {
  background: #303030 !important;
  border-radius: 8px !important;
} */
.scroll {
   width: 200px;
   height: 400px;
    background: red;
   overflow: scroll;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
